<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           
        
    <!--action-->   
	<bean id="loginAction" class="action.Login">
		<property name="controller" >
			<ref bean="ChosenStockController"></ref>
		</property>
	</bean>
	<bean id="stockInfoAction" class="action.StockInfo">
		<property name="controller">
			<ref bean="SpecificInfoController"></ref>
		</property>
		<property name="controller2">
			<ref bean="GraphController"></ref>
		</property>
	</bean>
	<bean id ="createAccount" class="action.CreateAccount">
		<property name="controller">
			<ref bean="UserController"></ref>
		</property>
	</bean>
	
	<bean id ="signIn" class="action.SignIn">
		<property name="controller">
			<ref bean="UserController"></ref>
		</property>
	</bean>
	
      
      
      
    <!--controller-->   
    <bean id="SimpleInfoController" class="controller.SimpleInfoController">
    	<property name="simple">
    		<ref bean="SimpleInfoBL"></ref>
    	</property>
    </bean>
    
    <bean id="UserController" class="controller.UserController">
    	<property name="blService">
    		<ref bean="UserBL"></ref>
    	</property>
    </bean>
	<bean id="GraphController" class="controller.GraphController">
		<property name="bLserivce">
			<ref bean="GraphBL"></ref>
		</property>
	</bean>
	
	
	<bean id="ChosenStockController" class="controller.ChosenStockController">
		<property name="blService">
			<ref bean="chosenStockBL"></ref>
		</property>
	</bean>
	
	<bean id="SpecificInfoController" class="controller.SpecificInfoController">
		<property name="specific">
			<ref bean="SpecificInfoLogic"></ref>
		</property>
	</bean>
	
	<bean id="StatisticsController" class="controller.StatisticsController">
		<property name="blService">
			<ref bean="StatisticsBL"></ref>
		</property>
	</bean>
	
	
	<!--logic-->   
	
	<bean id="SimpleInfoBL" class="logic.SimpleInfoLogic">
		<property name="dataService">
			<ref bean="SimpleInfoData"></ref>
		</property>
	</bean>
	<bean id="chosenStockBL" class="logic.ChosenStockBL">
		<property name="service" >
		<ref bean="chosenStockData"></ref>
		</property>
	</bean>
	
	<bean id="GraphBL" class="logic.GraphBL">
		<property name="graphService">
			<ref bean="GraphData"></ref>
		</property>
		<property name="chosenStockService">
			<ref bean="chosenStockData"></ref>
		</property>
		<property name="specificInfoDataService">
			<ref bean="SpecificInfoData"></ref>
		</property>
	</bean>
	
	<bean id="SpecificInfoLogic" class="logic.SpecificInfoLogic">
		<property name="service">
			<ref bean="SpecificInfoData"></ref>
		</property>
	</bean>
	
	<bean id="StatisticsBL" class="logic.StatisticsBL">
		<property name="ChosenService">
			<ref bean="chosenStockData"></ref>
		</property>
		<property name="specificService">
			<ref bean="SpecificInfoData"></ref>
		</property>
		<property name="graphBLserivce" >
			<ref bean="GraphBL"></ref>
		</property>
	</bean>
	
	<bean id="UserBL" class="logic.UserBL">
		<property name="userData">
			<ref bean="UserData"></ref>
		</property>
		<property name="simpleInfoDataService">
			<ref bean="SimpleInfoData"></ref>
		</property>
	</bean>
	
	
	
	
	
	<!--data-->   
	<bean id="UserData" class="DataWeb.UserData">
	</bean>
	<bean id="chosenStockData" class="DataWeb.ChosenStockData">
	</bean>
	
	<bean id="GraphData" class="DataWeb.GraphData">
	</bean>
	
	<bean id="SpecificInfoData" class="DataWeb.SpecificInfoData">
	</bean>
	<bean id="SimpleInfoData" class="DataWeb.SimpleInfoData">
	</bean>
	
</beans>