
.chart-bar {
    -fx-background-color: rgba(0,168,355,0.2);
    -fx-border-color: rgba(0,168,355,0.4) rgba(0,168,355,0.3)
        transparent rgba(0,168,355,0.3);
    -fx-background-radius: 0;
    -fx-background-position: left center;
}
